*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    background-color: rgba(189, 189, 189, 0.134);
    border-radius: 5px 10px;
    padding: 15px;
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 10px;
}

.addDecCant{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnCounter{
    background-color: rgb(215, 73, 73);
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-weight: regular;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.btnCounter:hover{
    box-shadow: 0 0 8px rgb(158, 254, 179);
    border-radius: 5px;
}

.btnCounter:nth-child(3){
    background-color: rgb(36, 88, 36);
}

.showCant{
    font-size: 15px;
    margin: 0 10px;
    font-weight: bold;
    background-color: rgb(228, 228, 228);
    width: 50%;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showCant, .btnCounter{
    box-shadow: 0 0 5px grey;
}

.btnAddToCart{
    width: 100%;
    background-color: rgb(86, 200, 88);
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 4px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    font-weight: regular;
    font-size: 15px;
    color: #fff;
}

.btnAddToCart:hover{
    box-shadow: 0 0 8px rgb(158, 254, 179);
    background-color: rgb(11, 68, 49);
}

/*card style*/

.cardProduct{
    width: 300px;
    min-width: 280px;
    height: 500px;
    margin: 15px auto;
    border-radius: 5px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.573);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.cardImgContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease-in-out .5s;
}

.cardProduct:hover .cardImg{
    transform: scale(1.2);
}

.cardInfo{
    width: 100%;
    padding: 5px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 25%;
    left: 0;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0);
    backdrop-filter: blur(8px);
}

.cardName{
    font-size: 18px;
    font-weight: bold;
}

.cardPrice{
    font-size: 14px;
}

/*ITEM LIST CONTAINER STYLE*/
.itemListContainer{
    width: 90%;
    margin: 2rem auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*ITEM DETAIL-------*/
.itemDetailContainer{
    width: 90%;
    height: 500px;
    margin: 2rem auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(126, 126, 126, 0.147);
    backdrop-filter: blur(10px);
}

.imgDetail{
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.imgDetail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textDetail{
    text-align: center;
    background-color: rgba(5, 67, 11, 0.796);
    height: 200px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}